body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

/* カメラ反転 */
video {
    transform: scaleX(-1);
}

/****************************** ボタン **********************************/
#nextPage, #loadMarkers {
    position: absolute;
    right: 20px;
    z-index: 9999;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#loadMarkers {
    top: 20px;
    padding: 20px 50px;
    background-color: #e20000;
    font-size: 20px;
}

#nextPage {
    top: 100px;
    padding: 10px 30px;
    background-color: rgb(53, 53, 53);
    font-size: 15px;
}

/* ホバー時 */
#loadMarkers:hover {
    background-color: #b90202;
}

#nextPage:hover {
    background-color: rgb(0, 0, 0)
}