body {
    margin: 0;
    overflow: hidden;
}
  
#camera, #overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1) scaleY(-1); /* 左右反転 */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

/* 座標リセットボタン */
#resetPos {
    position: fixed;
    top: 20px;
    left: 420px;
    z-index: 999;
    background-color: rgb(182, 2, 2);
    color: white;
    padding: 13px 12px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
}

#resetPos:hover {
    background-color: rgb(127, 0, 0);
}

/* 上下反転ボタン */
.flip-toggle {
    position: fixed;
    top: 20px;
    left: 550px;
    z-index: 999;
    background-color: rgb(201, 197, 0);
    color: white;
    padding: 13px 12px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
}

.flip-toggle:hover {
    background-color: rgba(145, 140, 34, 1.0);
}

/* 戻るボタン */
#prevPage {
    position: fixed;
    top: 20px;
    left: 350px;
    z-index: 999;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 13px 15px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    transition: background-color 0.2s ease;
}

#prevPage:hover {
    background-color: rgb(0, 0, 0);
}

/* BPMスライダー */
#tempo-control {
    position: absolute;
    top: 20px;
    right: 340px;
    background-color: rgba(30, 30, 30, 0.85);
    padding: 13px 12px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    z-index: 9999;
    font-size: 14px;
    transition: background-color 0.2s ease;
}
  
#tempo-control input[type="range"] {
    width: 150px;
    margin-top: 4px;
}

/* 楽譜選択 */
#score-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(30, 30, 30, 1.0);
    color: white;
    padding: 12px 14px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    z-index: 9999;
}
  
#score-selector select,
#score-selector button {
    margin-top: 0px;
    font-size: 14px;
}

#loadPatternBtn {
    color: white;
    background: #1e67a3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#loadPatternBtn:hover {
    background-color: #38538a;
}

/* 演奏開始ボタン */
#startBtn {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 20px 50px;
    background-color: #2196F3; /* 青系 */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
    z-index: 9999;
}
  
#startBtn:hover:not(:disabled) {
    background-color: #1976D2;
}

#startBtn:disabled {
    background-color: #666;
    cursor: not-allowed;
    opacity: 0.5;
}

/* 演奏終了ボタン */
#stopBtn {
    position: absolute;
    top: 155px;
    right: 20px;
    padding: 20px 50px;
    background-color: #e51616; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
    z-index: 9999;
}

#stopBtn:hover:not(:disabled) {
    background-color: #920808;
}

#stopBtn:disabled {
    background-color: #666;
    cursor: not-allowed;
    opacity: 0.5;
}